.show-grid [class*="span"] {
    background-color: #ddd;
}


.searchinput {
    width: 100%;
}

.searchclear {
    position:absolute;
    right:15px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
}


